[submodule "hugo/themes/introduction"]
	path = hugo/themes/introduction
	url = https://github.com/vickylai/hugo-theme-introduction.git
[submodule "hugo/public"]
	path = hugo/public
	url = git@github.com:saraghav/saraghav.github.io.git
	branch = master
[submodule "hugo/themes/casper-two"]
	path = hugo/themes/casper-two
	url = https://github.com/eueung/hugo-casper-two
